pkgbase = reticulum-meshchatx-git
	pkgdesc = A simple mesh network communications app powered by the Reticulum Network Stack
	pkgver = 4.7.1.r0.gebacc00
	pkgrel = 1
	url = https://github.com/Quad4-Software/MeshChatX
	arch = x86_64
	arch = aarch64
	license = 0BSD
	license = MIT
	makedepends = git
	makedepends = nodejs
	makedepends = pnpm
	makedepends = python
	makedepends = python-pip
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = opus
	depends = opusfile
	depends = portaudio
	depends = espeak-ng
	provides = reticulum-meshchatx
	conflicts = reticulum-meshchatx
	source = reticulum-meshchatx::git+https://github.com/Quad4-Software/MeshChatX.git
	source = reticulum-meshchatx.desktop
	sha256sums = SKIP
	sha256sums = 366182e198df672bb51893f7cf7f339079bf80319c24c107216c1b96d33fd267

pkgname = reticulum-meshchatx-git
